
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container mt-5 h-5 w50">
  <!-- <button mat-raised-button color="primary">Add</button> -->
  <h1><b>Available-Subject</b></h1> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>TeacherID</th>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th>Subject Description</th>
        <th>Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> <button class="btn btn-success">Details</button>
      &nbsp;<button class="btn btn-danger">Download</button>&nbsp;
    <button class="btn btn-success">Update</button>&nbsp;
    <button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <a routerLink=""> <button class="btn btn-primary" color="primary">Back</button></a>
</div>