
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="div container mt-5 h-50 w50">
    <h1><b>Subject Register</b></h1> 
    <form action="" class="card">
        <div class="card-hearder">

        </div>
    <div class="card-body">
        
        <label for="">Enter your Email</label><br>
        <input type="text" class="form-control" placeholder="Email" required><br>
        <label for="">Enter Subject Code </label><br>
        <input type="text" class="form-control" placeholder="Subject code" required><br>
        <label for="">Enter Subject Name</label><br>
        <input type="text" class="form-control" placeholder="Subject Name" required><br>
        <label for="">Enter Subject Description</label><br>
        <input type="text" class="form-control" placeholder="Subject Description" required><br>
         
            
          <br>
        <a routerLink="/available-subject"> <button class="btn btn-primary" color="primary">Add</button></a>
    </div>
    </form>
